<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/angular-resource.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="ngDribbbleApp">


    <ion-nav-bar class="nav-title-slide-ios7 bar-positive ng-dribbble-header">
      <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>
    </ion-nav-bar>
             
    <ion-nav-view animation="slide-left-right"></ion-nav-view>


    <script id="templates/home.html" type="text/ng-template">
      <ion-tabs class="tabs-striped tabs-background-dark tabs-color-light">

        <ion-tab title="Popular" href="#/home/popular">
          <ion-nav-view name="popular-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Debuts" href="#/home/debuts">
          <ion-nav-view name="debuts-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Everyone" href="#/home/everyone">
          <ion-nav-view name="everyone-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
    </script>

    <script id="templates/popular.html" type="text/ng-template">
      <ion-view title="Popular">
        <ion-content class="dribbble-list">
          <ion-list>
            <ion-item class="item dribbble-item"
              ng-repeat="shot in poppularList"
              ng-style="{height: getItemHeight(shot, $index)}">
              <img ng-src="{{shot.image_teaser_url}}">
            </ion-item>
          </ion-list>
          <ion-infinite-scroll
            on-infinite="loadMore()"
            icon="ion-loading-c"
            distance="1%">
          </ion-infinite-scroll>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/debuts.html" type="text/ng-template">
      <ion-view title="Debuts">
        <ion-content class="dribbble-list">
          <ion-list>
            <ion-item class="item dribbble-item"
              ng-repeat="shot in debutsList"
              ng-style="{height: getItemHeight(shot, $index)}">
              <img ng-src="{{shot.image_teaser_url}}">
            </ion-item>
          </ion-list>
          <ion-infinite-scroll
            on-infinite="loadMore()"
            icon="ion-loading-c"
            distance="1%">
          </ion-infinite-scroll>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/everyone.html" type="text/ng-template">
      <ion-view title="Everyone">
        <ion-content class="dribbble-list">
          <ion-list>
            <ion-item class="item dribbble-item"
              ng-repeat="shot in everyoneList"
              ng-style="{height: getItemHeight(shot, $index)}">
              <img ng-src="{{shot.image_teaser_url}}">
            </ion-item>
          </ion-list>
          <ion-infinite-scroll
            on-infinite="loadMore()"
            icon="ion-loading-c"
            distance="1%">
          </ion-infinite-scroll>
        </ion-content>
      </ion-view>
    </script>

  </body>
</html>
