.ng-dribbble-header.bar {
  background-color: #ea4c89;
}
.ng-dribbble-header.bar .title {
  color: white;
  font-family: 'Brush Script MT', cursive;
  font-size: 36px;
}

.dribbble-list {
  background-color: black;
}
.dribbble-item {
  width: 33.33%;
  display: block;
  border: none;
  float: left;
  margin: 0;
  padding: 2px;
  background-color: black;
}

.dribbble-item img {
  vertical-align: top;
  width: 100%;
}